body,html {
    margin:0;
    padding:0;
    height: 100%;
}


body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
}

canvas {
    display: block;
}